
<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recommendation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
        form {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<table>
    <tbody>

    <th>
    <td>Index</td>
    <td>title</td>
    <td>author</td>
    <td>genre</td>

    </th>
    <tr th:each="book : ${ bookList }">
        <td th:text="${ book.id }">Index</td>
        <td th:text="${ book.title }">title</td>
        <td th:text="${ book.author }">author</td>
        <td th:text="${ book.genre }">genre</td>
    </tr>


<div class="container">
    <form th:action="@{/recommendation}" method="post" class="form-horizontal col-sm-6 col-sm-offset-3">

        <div class="form-group">
            <label for="title" class="col-sm-4 control-label">Search title:</label>
            <div class="col-sm-8">
                <input type="text" name="title" id="title" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button class="btn btn-primary" type="submit" name="action" value="recommend">recommend</button>
            </div>
        </div>


        <div class="form-group">
            <label for="index" class="col-sm-4 control-label">Index:</label>
            <div class="col-sm-8">
                <input type="text" name="index" id="index" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="price" class="col-sm-4 control-label">Price:</label>
            <div class="col-sm-8">
                <input type="text" name="price" id="price" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="quantity" class="col-sm-4 control-label">Quantity:</label>
            <div class="col-sm-8">
                <input type="text" name="quantity" id="quantity" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button class="btn btn-primary" type="submit" name="action" value="addSelected">add selected book (by index)</button>
            </div>
        </div>

        <!-- ALERTS -->
        <div th:if="${param.indexParseError}" class="alert alert-danger" role="alert">
            Index parse error
         </div>
        <div th:if="${param.priceParseError}" class="alert alert-danger" role="alert">
            Price parse error
        </div>
        <div th:if="${param.quantityParseError}" class="alert alert-danger" role="alert">
            Quantity parse error
        </div>
        <div th:if="${param.invalidIndex}" class="alert alert-danger" role="alert">
         Invalid index
        </div>
        <div th:if="${param.googleError}" class="alert alert-danger" role="alert">
            Error at google headquarters
        </div>

    </form>
</div>
    </tbody>
</table>

</body>
</html>